.rest-header,
.rest-body{
    h3 {
        display: inline-block;
        color: #fff;
        width: 100%;
        margin: 0;
        padding: 16px 8px;
        font-family: "Fixedsys";
        letter-spacing: .1em;
        font-size: 22px;
        line-height: 1em;
        border-bottom: 1px solid currentColor;
        border-radius: 8px 0;
        background-color: $accentColor;
        span {
            font-size: 16px;
            font-weight: normal;
            float: right;
        }
    }

    pre {
        margin: 0;
        max-width: 100%;
        color: #222;
        padding: 8px 16px;
        overflow-x: auto;
        font-family: "Courier new", "sans-serif";
        min-height: calc(100% - 56px);
    }
}
.rest-header h3 {
    background-color: rgb(47, 46, 139)
}
.rest-content {
    overflow-y: auto;
    max-height: 100%;

}