@import 'normalize.css';
@import 'assets/scss/variables.scss';
@import 'assets/scss/option-groups.scss';
@import 'assets/scss/buttons-container.scss';
@import 'assets/scss/rest.scss';


html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}
body {
  background: #222;
  color: #fff;
  margin: 0;
  font-family: "DroidSans";
}

#app {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.viewport {
    width: 100%;
    padding-top: 32px;
    padding-right: 32px;
    float: left;
    
    &.__hideCursor,
    .__hideCursor {
        cursor: none;
    }
    
    > [ratio="1x1"] {
        aspect-ratio: 1/1;
        margin: auto;
        max-width: calc(80vh - 64px);
    }
    
    > [ratio="4x3"] {
        aspect-ratio: 4/3;
        margin: auto;
        max-width: calc(80vh - 64px);
    }

    > [ratio="16x9"] {
        aspect-ratio: 16/9;
        margin: auto;
        max-width: calc(80vh - 64px);
    }
}

.sidebar {
    width: 100%;
    padding-top: 64px;
    float: left;
}

@media all and (min-width: 640px) {
    .viewport {
        width: calc(60% - 40px);
    }
    .sidebar {
        padding-top: 64px;
        margin-left: 40px;
        width: 40%;
    }
}

.viewport-content {
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,.16);
}

h1 {
    font-family: "Fixedsys";
    font-size: 32px;
    margin: 18px 0;
    line-height: 32px;
}

a {
    color: #09f;
    &:visited {
        color: #f09;
    }
}

* {
    box-sizing: border-box
}


input:-webkit-autofill {
  background-color: #fff;
}

//selection
::selection {
  background: $accentColor;
  color: #fff;
}

::-moz-selection {
    background: $accentColor;
    color: #fff;
}


@font-face {
font-family: Fixedsys;
src: url("/src/assets/fonts/fixed-sys.otf");
}

@font-face {
    font-family: DroidSans;
    src: url("/src/assets/fonts/DroidSans.otf");
}
@font-face {
    font-family: DroidSans;
    font-weight: bold;
    src: url("/src/assets/fonts/DroidSans-Bold.otf");
}


//main router outlet
.app {
  height: 100%;
  position: relative;
}
.outlet-full {
    overflow-y: auto;
    display: flex;
    transition: width ease 0.24s;
    width: 100%;
    height: 100%;
    opacity: 1; transform: translateY(0);
    > * {
        margin: 0 32px 32px 64px;
        width: calc(100% - 96px);
        min-height: calc(100vh - 32px)
    }
}


.button {
    color: #eee;
    background-color: $accentColor;
    border: 0 none transparent;
    padding: 8px 16px;
    transition: .16s all ease;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}